<div id="alpdeskDialog{{ dialogId }}" class="alpdeskDialog" data-controller="alpdeskdialog" data-action="click->alpdeskdialog#backdropClose">

    <dialog class="alpdeskDialogOpen" data-alpdeskdialog-target="dialog">
        {{ dialogContent | raw }}
        <button type="button" data-action="alpdeskdialog#close" autofocus>Cancel</button>
    </dialog>

    <button type="button" data-action="alpdeskdialog#open">Open modal</button>
</div>