
body:has(dialog[data-alpdeskdialog-preventScroll="true"][open]) {
    overflow: hidden;
}

dialog[data-alpdeskdialog-backdrop="true"] {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

dialog[data-alpdeskdialog-target="dialog"] {
    border: none;
    background: #fff;
}

@keyframes alpdesk-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes alpdesk-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

dialog[data-alpdeskdialog-target="dialog"][open] {
    animation: alpdesk-fade-in 250ms forwards;
}

dialog[data-alpdeskdialog-target="dialog"][closing] {
    animation: alpdesk-fade-out 250ms forwards;
}

dialog[data-alpdeskdialog-target="dialog"] .alpdeskDialogClose {
    text-align: right;
}

dialog[data-alpdeskdialog-target="dialog"] .alpdeskDialogClose button {
    border: none;
    background: none;
    cursor: pointer;
}