
body:has(dialog[data-alpdeskdialog-target="dialog"][open]) {
    overflow: hidden;
}

dialog[data-alpdeskdialog-target="dialog"] {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
    border: none;
    background: #fff;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

dialog[data-alpdeskdialog-target="dialog"][open] {
    animation: fade-in 300ms forwards;
}

dialog[data-alpdeskdialog-target="dialog"][closing] {
    animation: fade-out 300ms forwards;
}

dialog[data-alpdeskdialog-target="dialog"] .alpdeskDialogClose {
    text-align: right;
}

dialog[data-alpdeskdialog-target="dialog"] .alpdeskDialogClose button {
    border: none;
    background: none;
    cursor: pointer;
}